[submodule "ros/line-follow"]
	path = ros/line_follow
	url = https://github.com/Wet-Lettuce-Robocup/line-follow.git
[submodule "ros/bain-software-rescue"]
	path = ros/bain-software-rescue
	url = https://github.com/Wet-Lettuce-Robocup/bain-software-rescue.git
[submodule "ros/toby-software-rescue"]
	path = ros/toby-software-rescue
	url = https://github.com/Wet-Lettuce-Robocup/toby-software-rescue
[submodule "ros/bno08x_ros2_driver"]
	path = ros/bno08x_ros2_driver
	url = https://github.com/Wet-Lettuce-Robocup/bno08x_ros2_driver
